<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ChatterBox{% endblock %}</title>
    {% load staticfiles %}
<link rel ="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type ='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'chatterbox/style.css' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
      <img src="nobita.jpg">
        <form>
           <div class="form-input">
              <input type="text" name="username" placeholder="Enter Username">

            </div>
            <div class="form-input">
                <input type="password" name="password" placeholder="Enter Password">

            </div>
            <input type="submit" name="submit" value="LOGIN" class="btn-login"><br>
            <a class="forget-password" href="#">Forget Password?</a>
            <a class="new-user" href="#">New User?</a>
        </form>
     </div>
</body>
</html>